    <div class="form-element-area" style="margin-bottom: 300px">
        <div class="container">
            

{{!-- contracts:allContracts, allHighwayInspectors:users --}}


<script>
    window.onload = function() {
   
    $('#selectField').change(function(){
        let currentVal = JSON.parse($('#selectField').val())
        console.log(currentVal)
        $('#percentage').attr('value', currentVal.currentPercentage)
        $('#percentage').attr('min', currentVal.currentPercentage)
        $('#contract_id').attr('value', currentVal._id)
    });

}
</script>
            <div class="row" style="margin-bottom:150px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-element-list mg-t-30">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                <div class="nk-int-mk sl-dp-mn" >
                                    {{#if data.dataPresence}}
                                    <h2 style="margin-left:1px">You are currently Assigned to the following Contracts</h2>
                                    <h2 style="margin-left:1px">Click a Contract and Create a Datasheet for it</h2>

                                    {{else}}
                                     <h2 style="margin-left:1px">You are currently Not Assigned to Any Contracts</h2>
                                   
                                    {{/if}}
                                    
                                    {{#each data.contracts}}
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin:20px">
                                            <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                                                <a href="/create_inspection_data_sheet/{{this._id}}"> </a>
                                                <div class="website-traffic-ctn">
                                                    <h2>{{this.projectTitle}} {{this.state}}</h2>
                                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#{{this._id}}">Enter Report</button>
                                <div class="modal animated bounce" id="{{this._id}}" role="dialog">
                                    
                                    <div class="modal-dialog modals-default">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <h2>{{this.projectTitle}}, percentage Completion: {{this.currentPercentage}}</h2>
                                                <p>This is a {{this.contractType}} construction Project</p>
                                            </div>
                                            <div class="modal-footer">
                                                <form action="/create_inspection_data_sheet" method="POST">
                                                <input type="hidden" name="name" value="Construction of {{this.projectTitle}} In {{this.state}}, {{this.lga}}, zone {{this.zone}}">
                                                <input type="hidden" name="contract_id" value="{{this._id}}">
                                                <input type="hidden" name="contract_type" value="{{this.contractType}}">
                                                <button type="submit" class="btn btn-default">Create Inspection Datasheet</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                                    <p style="font-size:11px">Click to create Inspection datasheet</p>
                                                </div>
                                                <div class="sparkline-bar-stats1">9,4,8,6,5,6,4,8,3,5,9,5</div>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center">
   </div>
                    </div>
                </div>
            </div>
    </div>
    </div>